html {
    background-color: #517188;
    color: white;
    margin: 40px;
}

html,
body {
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app>* {
    margin: 10px;
}

#qrcode_container {
    width: 200px;
    height: 200px;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
}

#reload_code {
    padding: 15px;
}

#qrcode_validity_time {
    color: lightgrey;
    font-size: 14px;
}