html {
    color-scheme: only light;
    background-color: white;
}

html,
body {
    height: 100%;
    margin: 0;
}

.vertical_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media print {
    .qrcode_component {
        page-break-after: always
    }

    .noPrint {
        display: none;
    }
}

.qrcode_component {
    padding: 10px 10px 3px 10px;
    border-radius: 15px;
    border: 1px solid lightgray;
    margin: 10px;

}

.qrnumber {
    display: block;
    margin: 7px 0 0 0;
    text-align: center;
    color: #333;
    font-size: 10px;
}